/* Remove every padding and margine*/

* {
  margin: 0;
  padding: 0;
  color: #FFFCF2;
}


.main-cont {
  background-color: #403D39;
  width: 100vw;
  height: 100vh;
}

.main-cont-color-effect {
  background: -webkit-linear-gradient(90deg, #3a3e48, #83d8ffd7);
  width: 100%;
  height: 100%;
  border-radius: 3vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
}

.data-selector {
  display: flex;
  flex-direction: row;
}

.data-selector-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-left: 2vh;
}

.day-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.day-selector-cont {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 2vh;
  margin-right: 2vh;
}

.view-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.view-selector-cont {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 2vh;
  margin-right: 2vh;
}

.s-label {
  color: #FFFCF2;
  border-bottom: 2px solid #FFFCF2;
  transition: 0.1s;
}

.selector:hover~.s-label {
  margin-top: -0.5vh;
  padding-bottom: 0.5vh;
  border-bottom: 2px solid #FFFCF2;
}

.selector:checked~.s-label {
  color: #E47C1D;
  border-color: #E47C1D;
}

.selector {
  cursor: pointer;
  top: 0;
  left: 0;
  display: none;
}

.main-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 96vw;
  height: 90vh;
}

.teams-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  margin-left: 3vw;
  background-color: #33303045;
  padding: 2vh;
  border-radius: 3vh;
}

.task-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 80vh;
  border-radius: 2vh;
  background-color: #dadddee1;
  margin-left: 3vw;
}

.team-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 80vh;
  border-radius: 2vh;
  background-color: #c2b1b145;
}

.team-cont:not(:first-child) {
  margin-left: 2vh;
}

.day-cont,
.task-item-const {
  width: fill-available;
}

.cont-header-title {
  padding: 2vh;
}

.task,
.task-item-const {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin: 1vh;
  border-radius: 2vh;

}

input[type="text"] {
  border: none;
  background-color: transparent;
  color: #403D39;
  font-weight: bold;
  font-size: 3.5vh;
  outline: none;
  border-radius: 2vh;
  width: 6vw;
  height: 6vh;
  text-align: center;
  background-color: #CCC5B9;
}

.line {
  width: 90%;
  border-bottom: 1px solid #CCC5B9;
}

.team-card {
  width: 20vw;
  height: 75vh;
  background-color: #252422;
  border: 1px solid red;
}

.team-cont {
  margin-top: 3vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  height: 80vh;
  width: 80vw;
  justify-content: space-evenly;
}

.team-card-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.join-button {
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-size: 40px;
  background-color: rgb(2, 2, 104);
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.login-cont {
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-color: rgba(189, 184, 184, 0.253);
  border-radius: 30px;
}
.login-title {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: rgba(189, 184, 184, 0.253);
}
.log-dec-at {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 45px;
}
.login-bg {
  background-image: url(https://images.newscientist.com/wp-content/uploads/2023/07/25095907/SEI_165307949.jpg?width=1200);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.login-text {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 0em;
  font-size: 30px;
}

/*signup*/

.sign-input {
  display: inline;
  font-weight: bold;
  font-size: 3.5vh;
  outline: none;
  border-radius: 5px;
  text-align: center;
  background-color: #c6cbd4;
  border-color: rgb(2, 2, 104);
  border-width: 1px;
  padding: 0.2em;
  height: 1em;
  margin: 0.3em;
}
.sign-input.name {
  width: 8em;
}
.sign-input.class {
  width: 3.3em;
}
.name-class-cont span{
font-size: 1.5em;
font-weight: bold;
}
.sign-cont {
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background-color: rgba(189, 184, 184, 0.253);
  border-radius: 30px;
}
.inl{
  display: inline;
}
.right{
  text-align: right;
}
.but-con{
  text-align: center;
}