/* Remove every padding and margine*/

* {
  margin: 0;
  padding: 0;
}

/* Add a background color and a height to the App component */

.App {
  background: -webkit-linear-gradient(-90deg, #3a3e48, #212121d7);
  background-color: #3a3e48;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}